ClinicManagementLite/WebClinicManagementLiteAdmin/Connected Services/ProxyAppointment/WCFClinic2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/WCFClinic.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFClinic.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://desktop-th5f7nm/WCF_ClinicManagementLite/WCFClinic.ServiceAppointment.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="AppointmentBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Active" type="xs:boolean" />
      <xs:element minOccurs="0" name="ArrivalHour" nillable="true" type="ser:duration" />
      <xs:element minOccurs="0" name="CreatedAt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DepartureHour" nillable="true" type="ser:duration" />
      <xs:element minOccurs="0" name="EndHour" type="ser:duration" />
      <xs:element minOccurs="0" name="Id" type="xs:short" />
      <xs:element minOccurs="0" name="IdPatient" type="xs:short" />
      <xs:element minOccurs="0" name="IdUser" type="xs:short" />
      <xs:element minOccurs="0" name="StartHour" type="ser:duration" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AppointmentBE" nillable="true" type="tns:AppointmentBE" />
  <xs:complexType name="ArrayOfAppointmentBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AppointmentBE" nillable="true" type="tns:AppointmentBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAppointmentBE" nillable="true" type="tns:ArrayOfAppointmentBE" />
</xs:schema>