ClinicManagementLite/WebPatient/Connected Services/ProxyMedicalRecords/service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceMedicalRecord" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WCFClinic.Entities" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceMedicalRecord_CreateMedicalRecord_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateMedicalRecord" />
  </wsdl:message>
  <wsdl:message name="IServiceMedicalRecord_CreateMedicalRecord_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateMedicalRecordResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceMedicalRecord_GetAllMedicalRecords_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllMedicalRecords" />
  </wsdl:message>
  <wsdl:message name="IServiceMedicalRecord_GetAllMedicalRecords_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllMedicalRecordsResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceMedicalRecord_GetMedicalRecord_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMedicalRecord" />
  </wsdl:message>
  <wsdl:message name="IServiceMedicalRecord_GetMedicalRecord_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMedicalRecordResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceMedicalRecord_UpdateMedicalRecord_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateMedicalRecord" />
  </wsdl:message>
  <wsdl:message name="IServiceMedicalRecord_UpdateMedicalRecord_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateMedicalRecordResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceMedicalRecord_DeleteMedicalRecord_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteMedicalRecord" />
  </wsdl:message>
  <wsdl:message name="IServiceMedicalRecord_DeleteMedicalRecord_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteMedicalRecordResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceMedicalRecord_GetPatientMedicalRecords_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPatientMedicalRecords" />
  </wsdl:message>
  <wsdl:message name="IServiceMedicalRecord_GetPatientMedicalRecords_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPatientMedicalRecordsResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceMedicalRecord">
    <wsdl:operation name="CreateMedicalRecord">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceMedicalRecord/CreateMedicalRecord" message="tns:IServiceMedicalRecord_CreateMedicalRecord_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceMedicalRecord/CreateMedicalRecordResponse" message="tns:IServiceMedicalRecord_CreateMedicalRecord_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllMedicalRecords">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceMedicalRecord/GetAllMedicalRecords" message="tns:IServiceMedicalRecord_GetAllMedicalRecords_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceMedicalRecord/GetAllMedicalRecordsResponse" message="tns:IServiceMedicalRecord_GetAllMedicalRecords_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMedicalRecord">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceMedicalRecord/GetMedicalRecord" message="tns:IServiceMedicalRecord_GetMedicalRecord_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceMedicalRecord/GetMedicalRecordResponse" message="tns:IServiceMedicalRecord_GetMedicalRecord_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateMedicalRecord">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceMedicalRecord/UpdateMedicalRecord" message="tns:IServiceMedicalRecord_UpdateMedicalRecord_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceMedicalRecord/UpdateMedicalRecordResponse" message="tns:IServiceMedicalRecord_UpdateMedicalRecord_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteMedicalRecord">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceMedicalRecord/DeleteMedicalRecord" message="tns:IServiceMedicalRecord_DeleteMedicalRecord_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceMedicalRecord/DeleteMedicalRecordResponse" message="tns:IServiceMedicalRecord_DeleteMedicalRecord_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPatientMedicalRecords">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceMedicalRecord/GetPatientMedicalRecords" message="tns:IServiceMedicalRecord_GetPatientMedicalRecords_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceMedicalRecord/GetPatientMedicalRecordsResponse" message="tns:IServiceMedicalRecord_GetPatientMedicalRecords_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceMedicalRecord" type="tns:IServiceMedicalRecord">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateMedicalRecord">
      <soap:operation soapAction="http://tempuri.org/IServiceMedicalRecord/CreateMedicalRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllMedicalRecords">
      <soap:operation soapAction="http://tempuri.org/IServiceMedicalRecord/GetAllMedicalRecords" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMedicalRecord">
      <soap:operation soapAction="http://tempuri.org/IServiceMedicalRecord/GetMedicalRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateMedicalRecord">
      <soap:operation soapAction="http://tempuri.org/IServiceMedicalRecord/UpdateMedicalRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteMedicalRecord">
      <soap:operation soapAction="http://tempuri.org/IServiceMedicalRecord/DeleteMedicalRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPatientMedicalRecords">
      <soap:operation soapAction="http://tempuri.org/IServiceMedicalRecord/GetPatientMedicalRecords" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceMedicalRecord">
    <wsdl:port name="BasicHttpBinding_IServiceMedicalRecord" binding="tns:BasicHttpBinding_IServiceMedicalRecord">
      <soap:address location="http://desktop-th5f7nm/WCFClinic/WCFClinic.ServiceMedicalRecord.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>