ClinicManagementLite/WebPatient/Connected Services/ProxyArea/ServiceArea.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceArea" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://desktop-no71s6r/WCF_Clinic/WCFClinic.ServiceArea.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://desktop-no71s6r/WCF_Clinic/WCFClinic.ServiceArea.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://desktop-no71s6r/WCF_Clinic/WCFClinic.ServiceArea.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFClinic.Entities" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceArea_CreateArea_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateArea" />
  </wsdl:message>
  <wsdl:message name="IServiceArea_CreateArea_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateAreaResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceArea_GetAllAreas_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllAreas" />
  </wsdl:message>
  <wsdl:message name="IServiceArea_GetAllAreas_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllAreasResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceArea_GetOneArea_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOneArea" />
  </wsdl:message>
  <wsdl:message name="IServiceArea_GetOneArea_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOneAreaResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceArea_UpdateArea_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateArea" />
  </wsdl:message>
  <wsdl:message name="IServiceArea_UpdateArea_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAreaResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceArea_DeleteArea_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteArea" />
  </wsdl:message>
  <wsdl:message name="IServiceArea_DeleteArea_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAreaResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceArea">
    <wsdl:operation name="CreateArea">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceArea/CreateArea" message="tns:IServiceArea_CreateArea_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceArea/CreateAreaResponse" message="tns:IServiceArea_CreateArea_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllAreas">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceArea/GetAllAreas" message="tns:IServiceArea_GetAllAreas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceArea/GetAllAreasResponse" message="tns:IServiceArea_GetAllAreas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOneArea">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceArea/GetOneArea" message="tns:IServiceArea_GetOneArea_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceArea/GetOneAreaResponse" message="tns:IServiceArea_GetOneArea_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateArea">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceArea/UpdateArea" message="tns:IServiceArea_UpdateArea_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceArea/UpdateAreaResponse" message="tns:IServiceArea_UpdateArea_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteArea">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceArea/DeleteArea" message="tns:IServiceArea_DeleteArea_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceArea/DeleteAreaResponse" message="tns:IServiceArea_DeleteArea_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceArea" type="tns:IServiceArea">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateArea">
      <soap:operation soapAction="http://tempuri.org/IServiceArea/CreateArea" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllAreas">
      <soap:operation soapAction="http://tempuri.org/IServiceArea/GetAllAreas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOneArea">
      <soap:operation soapAction="http://tempuri.org/IServiceArea/GetOneArea" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateArea">
      <soap:operation soapAction="http://tempuri.org/IServiceArea/UpdateArea" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteArea">
      <soap:operation soapAction="http://tempuri.org/IServiceArea/DeleteArea" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceArea">
    <wsdl:port name="BasicHttpBinding_IServiceArea" binding="tns:BasicHttpBinding_IServiceArea">
      <soap:address location="http://desktop-no71s6r/WCF_Clinic/WCFClinic.ServiceArea.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>