ClinicManagementLite/WebPatient/Connected Services/ProxyArea/WCFClinic1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFClinic.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFClinic.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="AreaBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Active" type="xs:boolean" />
      <xs:element minOccurs="0" name="CreatedAt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:short" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AreaBE" nillable="true" type="tns:AreaBE" />
  <xs:complexType name="ArrayOfAreaBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AreaBE" nillable="true" type="tns:AreaBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAreaBE" nillable="true" type="tns:ArrayOfAreaBE" />
</xs:schema>