ClinicManagementLite/WebPatient/Connected Services/ProxyQueue/WCFClinic.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/WCFClinic.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFClinic.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://desktop-no71s6r/WCFClinic/WCFClinic.ServiceQueue.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="QueueBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Active" type="xs:boolean" />
      <xs:element minOccurs="0" name="CreatedAt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:short" />
      <xs:element minOccurs="0" name="IdPatient" type="xs:short" />
      <xs:element minOccurs="0" name="IdUser" type="xs:short" />
      <xs:element minOccurs="0" name="StartDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="StartTime" type="ser:duration" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QueueBE" nillable="true" type="tns:QueueBE" />
  <xs:complexType name="ArrayOfQueueBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="QueueBE" nillable="true" type="tns:QueueBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfQueueBE" nillable="true" type="tns:ArrayOfQueueBE" />
</xs:schema>