ClinicManagementLite/WebPatient/Connected Services/ProxyQueue/WCFClinic2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://desktop-no71s6r/WCFClinic/WCFClinic.ServiceQueue.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFClinic.Entities" />
  <xs:element name="CreateQueue">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFClinic.Entities" minOccurs="0" name="objQueueBE" nillable="true" type="q1:QueueBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateQueueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateQueueResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllQueues">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllQueuesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCFClinic.Entities" minOccurs="0" name="GetAllQueuesResult" nillable="true" type="q2:ArrayOfQueueBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOneQueue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOneQueueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCFClinic.Entities" minOccurs="0" name="GetOneQueueResult" nillable="true" type="q3:QueueBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateQueue">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WCFClinic.Entities" minOccurs="0" name="objQueueBE" nillable="true" type="q4:QueueBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateQueueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateQueueResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteQueue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteQueueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteQueueResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserQueues">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserQueuesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WCFClinic.Entities" minOccurs="0" name="GetUserQueuesResult" nillable="true" type="q5:ArrayOfQueueBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPatientQueues">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="patientId" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPatientQueuesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WCFClinic.Entities" minOccurs="0" name="GetPatientQueuesResult" nillable="true" type="q6:ArrayOfQueueBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>