ClinicManagementLite/WebClinicManagementLiteAdmin/Connected Services/ProxyMedicalRecords/WCFClinic.Entities.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/WCFClinic.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFClinic.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="MedicalRecordBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Active" type="xs:boolean" />
      <xs:element minOccurs="0" name="Allergies" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Appointment" nillable="true" type="tns:AppointmentBE" />
      <xs:element minOccurs="0" name="CreatedAt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Diseases" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:short" />
      <xs:element minOccurs="0" name="IdAppointment" type="xs:short" />
      <xs:element minOccurs="0" name="Medicines" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Prescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Reason" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Surgeries" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MedicalRecordBE" nillable="true" type="tns:MedicalRecordBE" />
  <xs:complexType name="AppointmentBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Active" type="xs:boolean" />
      <xs:element minOccurs="0" name="ArrivalHour" nillable="true" type="ser:duration" />
      <xs:element minOccurs="0" name="CreatedAt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DepartureHour" nillable="true" type="ser:duration" />
      <xs:element minOccurs="0" name="EndHour" type="ser:duration" />
      <xs:element minOccurs="0" name="Id" type="xs:short" />
      <xs:element minOccurs="0" name="IdPatient" type="xs:short" />
      <xs:element minOccurs="0" name="IdUser" type="xs:short" />
      <xs:element minOccurs="0" name="Patient" nillable="true" type="tns:PatientBE" />
      <xs:element minOccurs="0" name="StartHour" type="ser:duration" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User" nillable="true" type="tns:UserBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AppointmentBE" nillable="true" type="tns:AppointmentBE" />
  <xs:complexType name="PatientBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Active" type="xs:boolean" />
      <xs:element minOccurs="0" name="Birthday" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreatedAt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Dni" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:short" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Photo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PatientBE" nillable="true" type="tns:PatientBE" />
  <xs:complexType name="UserBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Active" type="xs:boolean" />
      <xs:element minOccurs="0" name="Area" nillable="true" type="tns:AreaBE" />
      <xs:element minOccurs="0" name="CreatedAt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Dni" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:short" />
      <xs:element minOccurs="0" name="IdArea" type="xs:short" />
      <xs:element minOccurs="0" name="IdRole" type="xs:short" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Photo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Role" nillable="true" type="tns:RoleBE" />
      <xs:element minOccurs="0" name="Specialization" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserBE" nillable="true" type="tns:UserBE" />
  <xs:complexType name="AreaBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Active" type="xs:boolean" />
      <xs:element minOccurs="0" name="CreatedAt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:short" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AreaBE" nillable="true" type="tns:AreaBE" />
  <xs:complexType name="RoleBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Active" type="xs:boolean" />
      <xs:element minOccurs="0" name="Attributes" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreatedAt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:short" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RoleBE" nillable="true" type="tns:RoleBE" />
  <xs:complexType name="ArrayOfMedicalRecordBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MedicalRecordBE" nillable="true" type="tns:MedicalRecordBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMedicalRecordBE" nillable="true" type="tns:ArrayOfMedicalRecordBE" />
</xs:schema>