ClinicManagementLite/WebClinicManagementLiteAdmin/Connected Services/ProxyUser/WCFClinic.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFClinic.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFClinic.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UserBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Active" type="xs:boolean" />
      <xs:element minOccurs="0" name="CreatedAt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Dni" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:short" />
      <xs:element minOccurs="0" name="IdArea" type="xs:short" />
      <xs:element minOccurs="0" name="IdRole" type="xs:short" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Photo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Specialization" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserBE" nillable="true" type="tns:UserBE" />
  <xs:complexType name="ArrayOfUserBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserBE" nillable="true" type="tns:UserBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserBE" nillable="true" type="tns:ArrayOfUserBE" />
</xs:schema>