ClinicManagementLite/WebPatient/Connected Services/ProxySchedule/WCFClinic31.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/WCFClinic.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFClinic.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://desktop-th5f7nm/WCFClinic/WCFClinic.ServiceSchedule.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ScheduleBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Active" type="xs:boolean" />
      <xs:element minOccurs="0" name="CreatedAt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Days" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EndTime" type="ser:duration" />
      <xs:element minOccurs="0" name="Id" type="xs:short" />
      <xs:element minOccurs="0" name="IdUser" type="xs:short" />
      <xs:element minOccurs="0" name="StartTime" type="ser:duration" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ScheduleBE" nillable="true" type="tns:ScheduleBE" />
  <xs:complexType name="ArrayOfScheduleBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ScheduleBE" nillable="true" type="tns:ScheduleBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfScheduleBE" nillable="true" type="tns:ArrayOfScheduleBE" />
</xs:schema>