ClinicManagementLite/WebPatient/Connected Services/ProxyAppointment/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceAppointment" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WCFClinic.Entities" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceAppointment_CreateAppointment_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateAppointment" />
  </wsdl:message>
  <wsdl:message name="IServiceAppointment_CreateAppointment_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateAppointmentResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceAppointment_GetAllAppointments_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllAppointments" />
  </wsdl:message>
  <wsdl:message name="IServiceAppointment_GetAllAppointments_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllAppointmentsResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceAppointment_GetOneAppointment_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOneAppointment" />
  </wsdl:message>
  <wsdl:message name="IServiceAppointment_GetOneAppointment_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOneAppointmentResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceAppointment_UpdateAppointment_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAppointment" />
  </wsdl:message>
  <wsdl:message name="IServiceAppointment_UpdateAppointment_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAppointmentResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceAppointment_DeleteAppointment_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAppointment" />
  </wsdl:message>
  <wsdl:message name="IServiceAppointment_DeleteAppointment_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAppointmentResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceAppointment_GetPatientAppointments_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPatientAppointments" />
  </wsdl:message>
  <wsdl:message name="IServiceAppointment_GetPatientAppointments_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPatientAppointmentsResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceAppointment_GetUserAppointments_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserAppointments" />
  </wsdl:message>
  <wsdl:message name="IServiceAppointment_GetUserAppointments_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserAppointmentsResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceAppointment_GetUserAppointmentsByDate_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserAppointmentsByDate" />
  </wsdl:message>
  <wsdl:message name="IServiceAppointment_GetUserAppointmentsByDate_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserAppointmentsByDateResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceAppointment">
    <wsdl:operation name="CreateAppointment">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceAppointment/CreateAppointment" message="tns:IServiceAppointment_CreateAppointment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceAppointment/CreateAppointmentResponse" message="tns:IServiceAppointment_CreateAppointment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllAppointments">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceAppointment/GetAllAppointments" message="tns:IServiceAppointment_GetAllAppointments_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceAppointment/GetAllAppointmentsResponse" message="tns:IServiceAppointment_GetAllAppointments_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOneAppointment">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceAppointment/GetOneAppointment" message="tns:IServiceAppointment_GetOneAppointment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceAppointment/GetOneAppointmentResponse" message="tns:IServiceAppointment_GetOneAppointment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateAppointment">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceAppointment/UpdateAppointment" message="tns:IServiceAppointment_UpdateAppointment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceAppointment/UpdateAppointmentResponse" message="tns:IServiceAppointment_UpdateAppointment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteAppointment">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceAppointment/DeleteAppointment" message="tns:IServiceAppointment_DeleteAppointment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceAppointment/DeleteAppointmentResponse" message="tns:IServiceAppointment_DeleteAppointment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPatientAppointments">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceAppointment/GetPatientAppointments" message="tns:IServiceAppointment_GetPatientAppointments_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceAppointment/GetPatientAppointmentsResponse" message="tns:IServiceAppointment_GetPatientAppointments_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserAppointments">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceAppointment/GetUserAppointments" message="tns:IServiceAppointment_GetUserAppointments_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceAppointment/GetUserAppointmentsResponse" message="tns:IServiceAppointment_GetUserAppointments_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserAppointmentsByDate">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceAppointment/GetUserAppointmentsByDate" message="tns:IServiceAppointment_GetUserAppointmentsByDate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceAppointment/GetUserAppointmentsByDateResponse" message="tns:IServiceAppointment_GetUserAppointmentsByDate_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceAppointment" type="tns:IServiceAppointment">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateAppointment">
      <soap:operation soapAction="http://tempuri.org/IServiceAppointment/CreateAppointment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllAppointments">
      <soap:operation soapAction="http://tempuri.org/IServiceAppointment/GetAllAppointments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOneAppointment">
      <soap:operation soapAction="http://tempuri.org/IServiceAppointment/GetOneAppointment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateAppointment">
      <soap:operation soapAction="http://tempuri.org/IServiceAppointment/UpdateAppointment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteAppointment">
      <soap:operation soapAction="http://tempuri.org/IServiceAppointment/DeleteAppointment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPatientAppointments">
      <soap:operation soapAction="http://tempuri.org/IServiceAppointment/GetPatientAppointments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserAppointments">
      <soap:operation soapAction="http://tempuri.org/IServiceAppointment/GetUserAppointments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserAppointmentsByDate">
      <soap:operation soapAction="http://tempuri.org/IServiceAppointment/GetUserAppointmentsByDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceAppointment">
    <wsdl:port name="BasicHttpBinding_IServiceAppointment" binding="tns:BasicHttpBinding_IServiceAppointment">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WCFClinic/ServiceAppointment/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>